recursive-include doc_src *
recursive-include docs *

recursive-include contentrelations/static *
recursive-include contentrelations/templates *

include LICENSE
include README
include *.txt

prune example/